
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-shm
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-wal
.vs/Eindopdracht_DesignPatterns/v15/.suo
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-shm
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-wal
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-wal
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/db.lock
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-shm
.vs/Eindopdracht_DesignPatterns/v15/Server/sqlite3/storage.ide-wal
